<%= form_with model: [feature, comment] do |f| %>
  <div class="mb-6">
    <%= f.label :content, "Reply", class: "sr-only" %>
    <%= f.text_area :content, class: "form-input", placeholder: "Type a response" %>
  </div>

  <%= f.submit class: "btn btn-primary" %>
<% end %>
