<%= link_to root_path, class: "flex items-center justify-center gap-2 p-3 hover:bg-slate-50 rounded-t-md" do %>
  <svg class="stroke-current size-6 text-sky-600" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><title>arrow-up-circle</title><g fill="none"><path d="M15 11.25l-3-3m0 0l-3 3m3-3v7.5M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0z" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path></g></svg>
  <span class="font-bold tracking-tight text-slate-950 text-xl">Hanny</span>
<% end %>
